body{
    background-color: lightcoral;
}


h1{
text-align: center;
height: 100px;

}

h2{
  text-align: center;
  height: 100px;
}

img {
  float: left;
  width:  200px;
  height: 200px;
  margin-right: 10px;
  }



  #scoreBoard{
    font-size: 30px;
    color: rgb(238, 238, 252);
  }

.flexcontainer{
    display: flex;
    border: 2px,black;
    justify-content: center;
    
}

.flexcontainer2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  gap: 115px;
  margin-right: 40px;
  
}

.flexcontainer3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  gap: 20px;
}